/* Menu Active */

.MenuContainer li.active a {
  color: #fff;
}

/* Playlist */
.playlistScroll::-webkit-scrollbar {
  display: none;
}

.playlistItem.active {
  background-color: #242424;
  border-radius: 4px;
}
